*{
    padding: 0;
    margin: 0;
}

:root{
    ---cor1:black
}

header{
   height: 70px; 
   background: red;
   box-sizing: border-box;
   justify-content: space-between;
   display: flex;
   align-items: center
};

#nav{
    display: flex;
}

.logo{font-size: 20px;
}
#menu{
display: flex;
gap: .5rem;

}

li{
list-style: none;
font-size: 20px;
}

#btn-mobile{
    display: none;
}


@media (max-width: 600px) {
    #btn-mobile{
        display: block;
    }
#menu{
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    height: 0;
    background: blue;
    visibility: hidden;
    transition: .6s;
    overflow-y: hidden;
    width: 100%;
}

nav.active #menu {
    visibility: visible;
    height: calc(100vh - 70px);
    display: block;  
}

#btn-mobile{
    background: none;
    color: white;
    border: none;
    padding: .5rem 1rem;
    display: flex;
}

#hamburger {
    display: block;
    border-top: 2px solid; 
    width: 20px;
    margin-left: 5px;
}
#hamburger::after{
    content: '';
    width: 20px;
    height: 2px;
    display: block;
    margin-top: 5px;
    transition: .3s;
    position: relative; /*position relative para alinhar o X do menu. */
    background:currentColor;

}

#hamburger::before {
    content: '';
    width: 20px;
    height: 2px;
    display: block;
    margin-top: 5px;
    background: currentColor;

    }   

    nav.active #hamburger{
        border-top-color: transparent;
    } 

    nav.active #hamburger::before{
        transform: rotate(135deg);
    } 
    
    nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px
    } 



}




