*{
    padding: 0;
    margin: 0;
}

header{
   height: 70px; 
   background: red;
   box-sizing: border-box;
   justify-content: space-between;
   display: flex;
   align-items: center
};

#nav{
    display: flex;
}

.logo{font-size: 20px;
}
#menu{
display: flex;
gap: .5rem;
}

li{
list-style: none;
font-size: 20px;
}





