*{
    padding: 0;
    margin: 0;
}

:root{
    ---cor1:black
}

header{
   height: 70px; 
   background: red;
   box-sizing: border-box;
   justify-content: space-between;
   display: flex;
   align-items: center
};

#nav{
    display: flex;
}

.logo{font-size: 20px;
}
#menu{
display: flex;
gap: .5rem;

}

li{
list-style: none;
font-size: 20px;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile{
        display: block;
    }
#menu{
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    height: 0;
    background: blue;
    visibility: hidden;
    transition: .6s;
    overflow-y: hidden;
    width: 100%;
}
nav.active #menu {
    visibility: visible;
    height: calc(100vh - 70px);
    display: block;  
}
}




